<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Listado de polizas registradas</h3>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoliza" (click)="inicializarPoliza()">
            Agregar una nueva poliza
          </button>
        </div>
        <br>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
      <div class='table-responsive'>
        <table class='table'>
          <thead class='text-primary'>
            <tr>
              <th>Nombre de la poliza</th>
              <th>Fecha de inicio de vigencia</th>
              <th>Periodo de cobertura</th>
              <th>Valor</th>
              <th>% Cobertura</th>
              <th class='text-right'></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let item of listadoPolizas'>

              <td>{{item.nombre}}</td>
              <td>{{item.inicioVigencia | date:'yyyy/MM/dd'}}</td>
              <td>{{item.periodoCobertura}}</td>
              <td>{{item.precio}}</td>
              <td>{{item.cobertura}}</td>
              <td class=''>
                <button type='button' class='btn btn-outline-info btn-sm' data-toggle='modal' data-backdrop='static'
                  data-keyboard='false' data-target='#modalPoliza' (click)='editarPoliza(item);'>
                  <i class='material-icons'>edit</i>
                </button>
                <button type='button' class='btn btn-outline-danger btn-sm' data-toggle="tooltip"  title='Borrar Poliza'
                  (click)='eliminarPoliza(item.idPoliza);'>
                  <i class='material-icons'>close</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<div class="modal fade" id="modalPoliza" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Poliza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class='needs-validation' #formPoliza='ngForm'>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="nombre">Nombre de la poliza</label>
              <input name='nombre' class='form-control' [(ngModel)]='poliza.nombre' #nombre='ngModel' maxlength='100' required>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="idTipoCubrimiento">Tipo de cubrimiento</label>
              <select class="form-control"  name="idTipoCubrimiento" [(ngModel)]="poliza.idTipoCubrimiento" required>
                <option *ngFor="let item of listaTipoCubrimiento" [value]="item.idTipoCubrimiento">
                  {{item.descCubrimiento}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="cobertura">% de cobertura</label>
              <input name='cobertura' class='form-control' [(ngModel)]='poliza.cobertura' #cobertura='ngModel'
                type='number' required>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="periodoCobertura">Inicio de vigencia</label>
              <input name='inicioVigencia' class='form-control' [(ngModel)]='poliza.inicioVigencia'
                #inicioVigencia='ngModel' type="date" required>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="periodoCobertura">Periodo de cobertura definido en meses</label>
              <input name='periodoCobertura' class='form-control' [(ngModel)]='poliza.periodoCobertura'
                #periodoCobertura='ngModel' type='number' required>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="precio">Precio de la poliza</label>
              <input name='precio' class='form-control' [(ngModel)]='poliza.precio' #precio='ngModel' type='number' required>
            </div>
          </div>
          <div class="form-group row">
            <div class='col-sm-12'>
              <label for="idTipoRiesgo">Tipo de riesgo</label>
              <select class="form-control" name="idTipoRiesgo" [(ngModel)]="poliza.idTipoRiesgo" required>
                <option *ngFor="let item of listaTipoRiesgo" [value]="item.idTipoRiesgo">
                  {{item.descTipoRiesgo}}
                </option>
              </select>
            </div>
          </div>
          <!-- <div class='col'>
            <div class='row justify-content-center'>
              <button class='btn btn-info' (click)='guardarPoliza()' [disabled]='!formPoliza.valid'
                data-dismiss='modal'>Guardar</button>
            </div>
            <div class='row justify-content-center'>
              <span *ngIf='!formPoliza.valid'>Los campos marcados con asterisco (*) son obligatorios y
                no se permitirá
                guardar hasta que estos sean diligenciados.</span>
            </div>
          </div> -->
        </form>
      </div>
      <div class="modal-footer">
        <span *ngIf="(poliza.idTipoRiesgo == 4 && poliza.cobertura > 50);else botonGuardar">
          <div class="alert alert-danger" role="alert">
            * El pocentaje de cubrimiento no puede ser mayor al 50% ya que el tipo de riesgo es alto
          </div>

        </span>
        <ng-template #botonGuardar>
          <button [disabled]="!formPoliza.valid" type="button" class="btn btn-primary" (click)='guardarPoliza()' data-dismiss="modal" >Guardar</button>
        </ng-template>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <br>
        <span *ngIf="!formPoliza.valid">
          * Todos los campos deben ser diligenciados para poder guardar
        </span>
      </div>
    </div>
  </div>
